/**
 * forms.less
 * Forms, inputs, &c
 * Hunks from bootstrap 2.0
 */

form {
  margin: 0 0 @baseLineHeight;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @baseLineHeight;
  font-size: @baseFontSize * 1.5;
  line-height: @baseLineHeight * 2;
  color: lighten(@fontColor, 10%);
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  // Small
  small {
    font-size: @baseLineHeight * .75;
  }
}

label,
input,
button,
select,
textarea {
  font-size: @baseFontSize;
  font-weight: normal;
  line-height: @baseLineHeight;
}
input,
button,
select,
textarea {
  font-family: 'Lato', sans-serif;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: @baseLineHeight;
  padding: 4px 6px;
  margin-bottom: @baseLineHeight / 2;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @fontColor;
  .border-radius(4px);
  vertical-align: middle;
}

input,
textarea,
.uneditable-input {
  width: 226px; // plus 12px padding and 2px border
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 2px solid #999;
  .transition(~"border linear .05s");

  // Focus state
  &:focus {
    border-color: #4494c7;
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
  }

  &.input-validation-error {
    border-color: lighten(#EE1616, 10%);
    margin-bottom: 4px;
  }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Django style error messages on input field
.field-validation-error {
  font-size: @baseFontSize - 2;
  display: block;
  color: lighten(#EE1616, 10%);
  margin: -4px 0 @baseLineHeight 0;
}
