{% extends "shared/_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero">
  <div class="content">
    <div class="row">

      <div class="span3 strapline">
        <span class="strap1">Drop</span>
        <span class="strap2">your laptop <span class="strapAmp">&amp;</span> get on your</span>
        <span class="strap3">bike</span>
      </div>

      <div class="span3 intro">
        <p>
          On September 27th, 60+ techies will ride from Paris to London.
        </p>
        <p>
          Over the 3 day, 200 mile ride they will raise $75000+ for Room to Read.
        </p>
        <a href="{% url "the_ride" %}" class="btn">Get involved</a>
      </div>

    </div>
  </div>
</div>

<div id="main" class="content">

  <section id="mission">
    <header>
      <h1>Our Mission</h1>
    </header>

    <p>
      Techbikers is a collaboration of the London tech startup community to help children in need by supporting Room to Read. Last year, between September 21st-23rd, 40 tech professionals – including start-ups, venture capitalists and executives &hyphen; cycled over 200 miles from Paris to London to raise money for a fantastic charity.
    </p>
  </section>

  <section>
    <header>
      <h1>Last Year</h1>
    </header>

    <div class="row">
      <div class="span2 offset1 stat">
        40
        <small>cyclists</small>
      </div>
      <div class="span2 stat">
        $47k
        <small>raised</small>
      </div>
    </div>

    <div class="row">
      <div class="span4 offset1 statText">
        <h2>and <a href="/the_charity">Room to Read</a> built</h2>
      </div>
    </div>

    <div class="row">
      <div class="span2 offset1 stat">
        2
        <small>schools</small>
      </div>
      <div class="span2 stat">
        1
        <small>library</small>
      </div>
    </div>
  </section>

  <section>
    <header>
      <h1>Our Sponsors</h1>
      <h2><a href="mailto:sponsors@techbikers.com">Talk to us about sponsorship</a></h2>
    </header>
  </section>

  </section>
</div>
{% endblock %}
