{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Techbikers{% endblock %}</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.unobtrusive.min.js' %}"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <header role="header" class="content">
    <nav class="topNavigation">
      <a id="logo" href="{% url "home" %}" />
      <img src="{% static 'img/logo@2x.png' %}" alt="TechBikers" width="125"/>
    </a>
    <a href="{% url "the_ride" %}">The Ride</a>
    <a href="{% url "the_charity" %}">The Charity</a>
    <a href="{% url "about" %}">About Us</a>
    <a href="http://blog.techbikers.com/">Blog</a>
    {% if user.is_authenticated %}
    <a class="userAuth" href="{% url 'auth_logout' %}">Log out</a>
    {% else %}
    <a class="userAuth" href="{% url 'rider_registration' %}?next=/sales/checkout/%3Fride%3D1">Sign Up</a>
    {% endif %}
  </nav>
</header>

{% block content %}{% endblock content %}

<div role="footer">
  {% block footer %}
  <div class="content">
    <div class="row">
      <div class="span2">

        <nav>
          <li><a href="mailto:hello@techbikers.com">hello@techbikers.com</a></li>
          <li>4-5 Bonhill Street<br/>London<br/>EC2A 4BX</li>
        </nav>

      </div>

      <div class="span2">
      </div>

      <div class="span2">
        Thanks to our donation sponsors <a href="https://www.stripe.com" target="_blank">Stripe</a> and <a href="http://www.believe.in" target="_blank">Believe.in</a>, 100% of every donation goes to charity.
      </div>
    </div>

    <p class="centerText">
      <a href="http://www.facebook.com/techbikers" target="_blank">Facebook</a>
      &middot;
      <a href="http://twitter.com/techbikers" target="_blank">Twitter</a>
    </p>
  </div>
  {% endblock %}
</div>
</body>

</html>
